html {
  font-size:10px;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to left top, 
    #d16ba5, #ef7192, #ff7f7b, #ff9565, #ffaf53, #ffb94f, #ffc34c, #ffcd4a, #ffc64f, #ffbe55, #fdb85a, #fbb15f
  );
  text-align: center;
}

/* Styles for html elements */
h1 {
  font-size: 6rem;
}

h3 {
  font-size: 2.5rem;
}

button {
  padding: 0.8rem;
  margin: 1.5rem !important;
  font-size: 1.7rem;
  border: none;
}

.table {
  margin: auto;
  font-size: 2.5rem;
  padding: 1.5rem;
}

.table td {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1.7rem;
  padding-right:1.7rem;
}

/* Media queries for 768px max screen size */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  button {
    font-size: 2rem;
  }
  header h1, a {
    font-size: 2rem;
  }
}

/* Media queries for 576px max screen size */
@media screen and (max-width: 576px) {
  h1 {
    font-size: 4.5rem;
  } 
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  button {
    padding: 0.5rem;
    margin-top: 0.8rem !important;
    margin-bottom: 0.8rem !important;
    font-size: 1.8rem;
  }
  header h1, a {
    font-size: 1.8rem;
  }
}

/* Media queries for 375px max screen size */
@media screen and (max-width: 375px) {
  h1 {
    font-size: 4rem;
  } 
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  header h1, a {
    font-size: 1.5rem;
  }
  button {
    padding: 0.3rem;
    margin-top: 0.6rem !important;
    margin-bottom: 0.6rem !important;
    font-size: 1.5rem;
  }
}

