html {
  font-size:10px;
}

body {
  background-image: linear-gradient(
    to left top, 
    #d16ba5, #ef7192, #ff7f7b, #ff9565, #ffaf53, #ffb94f, #ffc34c, #ffcd4a, #ffc64f, #ffbe55, #fdb85a, #fbb15f
  );
  text-align: center;
}

/* Styles for html elements */
h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
}

a {
  text-decoration-line: none;
}

button {
  padding: 0.8rem;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  font-size: 2rem;
  border: none;
}

/* Body > Header */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem;
}

header h1, a {
  font-size: 2.5rem;
}

/* Body > Main > Start Screen */

.container {
  position: relative;
  height: 80vh;
}

.startScreenContent {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Body > Main > Quiz Screen */
.quizContent {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.quizContent h1 {
  font-size: 5rem;
}

.quizContent button {
  display:block;
  margin: auto;
}

.button--correct {
  background-color: rgb(131, 247, 131);
  color: white;
}

.button--wrong {
  background-color: rgb(240, 110, 110);
  color: white;
}

/* Body > Main > Game End Screen */
.gameEnd {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.usernameInput {
  font-size: 2.5rem;
  height: 3.5rem;
}

/* Media queries for 768px max screen size */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  button {
    font-size: 2rem;
  }
  header h1, a {
    font-size: 2rem;
  }
  .quizContent h1 {
    font-size: 4rem;
  }
  .usernameInput {
    font-size: 2rem;
    height: 2.8rem;
  }
}

/* Media queries for 576px max screen size */
@media screen and (max-width: 576px) {
  h1 {
    font-size: 4.5rem;
  } 
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  button {
    padding: 0.5rem;
    margin-top: 0.8rem !important;
    margin-bottom: 0.8rem !important;
    font-size: 1.8rem;
  }
  header h1, a {
    font-size: 1.8rem;
  }
  .quizContent h1 {
    font-size: 3.5rem;
  }
  .usernameInput {
    font-size: 1.8rem;
    height: 2.3rem;
  }
}

/* Media queries for 375px max screen size */
@media screen and (max-width: 375px) {
  h1 {
    font-size: 4rem;
  } 
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  header h1, a {
    font-size: 1.5rem;
  }
  .quizContent h1 {
    font-size: 3rem;
  }
  button {
    padding: 0.3rem;
    margin-top: 0.6rem !important;
    margin-bottom: 0.6rem !important;
    font-size: 1.5rem;
  }
  .usernameInput {
    font-size: 1.5rem;
    height: 2rem;
  }
}

